<div class="container">
    <div class="row">
        <div id="spreadsheet" style="width: 100%"></div>
        <div class="col-md-6">
            <button class="btn btn-primary" id="save">Save</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" id="cancel">Cancel</button>
        </div>
    </div>
</div>  


<script>
    $(function() {
        
       var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read:  {
                    url: "//localhost:9090/api/salary",
                    dataType: "json"
                },
                update: {
                    url: "//localhost:9090/api/salary",
                    method:'put',
                    dataType: "json",
                    contentType: "application/json"
                },
                destroy: {
                    url: "//localhost:9090/api/salary",
                    dataType: "json"

                },
                create: {
                    url: "//localhost:9090/api/salary",
                    type: 'post',
                    dataType: "json",
                    contentType: "application/json"
                },
                parameterMap: function(options, operation) {
                    
                    if (operation !== "read" && options.models) {
                        return JSON.stringify(options.models);
                    }
                }
            },
            batch: true,
            change: function() {
                $("#cancel, #save").toggleClass("k-state-disabled", !this.hasChanges());
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number" },
                        FirstName: { type: "string" },
                        LastName: { type: "string" },
                        RatePosition: { type: "string" },
                        PaidAmount: { type: "number" },
                        Since: { type: "date" },
                        Till: { type: "date" }
                    }
                }
            }
        });
        $("#spreadsheet").kendoSpreadsheet({ 
            sheets: [{
            name: "Salary",
            dataSource: dataSource
            }]
        });

        $("#save").click(function () {
            if (!$(this).hasClass("k-state-disabled")) {
               dataSource.sync();
            }
        });

        $("#cancel").click(function () {
            if (!$(this).hasClass("k-state-disabled")) {
                dataSource.cancelChanges();
            }
        });
    });
</script>